<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.4 2007/05/17 16:26:44 aboyko Exp $
-->

<plugin>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory
          class="org.eclipse.gmf.runtime.notation.provider.NotationItemProviderAdapterFactory"
          uri="http://www.eclipse.org/gmf/runtime/1.0.1/notation"
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

</plugin>

