<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="gmf-notation-2022-03" sequenceNumber="1655491703">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Shared-License" location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      <unit id="org.eclipse.test.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.tests.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.ide" version="0.0.0"/>
      <repository id="Eclipse-4.23" location="https://download.eclipse.org/eclipse/updates/4.23/R-4.23-202203080310/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.examples.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
      <repository id="EMF-2.29" location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.29"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
      <repository id="Orbit-2022-03" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository/"/>
    </location>
  </locations>
</target>
