<?xml version="1.0" encoding="UTF-8"?><?pde version="3.8"?><target name="luna" sequenceNumber="8">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20131028-1134"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/nightly"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.10.0.v20131029-0800"/>
<unit id="org.eclipse.test.feature.group" version="3.6.0.v20131025-1404"/>
<unit id="org.eclipse.platform.sdk" version="4.4.0.I20131029-0800"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4-I-builds"/>
</location>
</locations>
</target>